/* 
Project Name: About Me
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #f1f1f1;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    font-family: 'Inconsolata', monospace;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 100%;
    height: auto;
}


.poem{
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 20vw;
    height: 25vw;
    padding: 2vw;   
}

.poem_index {
        margin-right: auto;
    margin-left: auto;
    width: 100%;
    line-height: 2vw;
}

.poem_index p {
  position: absolute;
}

h1{
    font-family: 'Inconsolata', monospace;
}

header {

}

footer {
font-family: 'Inconsolata', monospace;
font-size: 12px;
margin-bottom: 0;
margin-left 2vw;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




