/* 
Project Name: About Me
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #E1F2FE;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    font-family: 'Inconsolata', monospace;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 100%;
    height: auto;
}

.poem_index {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    line-height: 2vw;
}


p.blue{
    color: blue;
}

h1{
    font-family: 'Inconsolata', monospace;
}

.static{
    width: 30vw;
    height: auto;
    padding: 15px;
    color: #262626;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
    background-color: #E1F2FE;
    line-height: 350px;
    
}

p.a {
    width: 50px;
    height:50px;
    position:fixed;
}

p.b {
    width: 350px;
    height:100px;
    position:fixed;    
}

p.c {
    width: 300px;
    height:50px;
    position:fixed;   
}

p.d {
    width: 250px;
    height:50px;
    position:fixed;
}

p.e {
    width: 500px;
    height:50px;
    position:fixed;
}

p.f {
    width: 400px;
    height:50px;
    position:fixed;
}

p.g {
    width: 500px;
    height:50px;
    position:fixed;
}

p.h {
    width: 500px;
    height:50px;
    position:fixed;
}

p.i {
    width: 500px;
    height:50px;
    position:fixed;
}

p.j {
    width: 500px;
    height:50px;
    position:fixed;
}

p.k {
    width: 500px;
    height:50px;
    position:fixed;
}

p.l {
    width: 500px;
    height:50px;
    position:fixed;
}

p.m {
    width: 500px;
    height:50px;
    position:fixed;
}

p.n {
    width: 500px;
    height:50px;
    position:fixed;
}

p.o {
    width: 500px;
    height:50px;
    position:fixed;
}

p.p {
    width: 500px;
    height:50px;
    position:fixed;
}

p.q {
    width: 500px;
    height:50px;
    position:fixed;
}

p.r {
    width: 500px;
    height:50px;
    position:fixed;
}

p.s {
    width: 500px;
    height:50px;
    position:fixed;
}
footer {
    width: 30vw;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
    bottom: 0;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/

@media only screen and (max-width: 900px) {
    
 .poem_index {
    margin-right: auto;
    margin-left: auto;
    width: 3vw;
    line-height: 4vw;
}
    
}



