/* 
Project Name: About Me
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #dbe2f0;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    font-family: 'Inconsolata', monospace;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 100%;
    height: auto;
}

.container_poem{
    border-radius: 50%;
}
.poem{
    background-color: white;
    width: 20vw;
    height: 25vw; 
    padding: 2vw;
}

.poem_index {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    line-height: 2vw;
}

.poem_index p {
  position: absolute;
}

p.blue{
    color: blue;
}
h1{
    font-family: 'Inconsolata', monospace;
}

.static{
    width: 20vw;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vw;
    background-color: white;
    
}

div.a {
    width: 50px;
    height:50px;
    position:fixed;
}

div.b {
    width: 50px;
    height:50px;
    position:fixed;    
}

div.c {
    width: 50px;
    height:50px;
    position:fixed;   
}

div.d {
    width: 50px;
    height:50px;
    position:fixed;
}

div.e {
    width: 50px;
    height:50px;
    position:fixed;
}

div.f {
    width: 50px;
    height:50px;
    position:fixed;
}

div.g {
    width: 50px;
    height:50px;
    position:fixed;
}

div.h {
    width: 50px;
    height:50px;
    position:fixed;
}

div.i {
    width: 50px;
    height:50px;
    position:fixed;
}

div.j {
    width: 50px;
    height:50px;
    position:fixed;
}
footer {
font-family: 'Inconsolata', monospace;
font-size: 12px;
bottom: 0;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




