body{
    background-color: #EEE5E9;
}

header{
    margin-top: 2%;
    width: 50vw;
    display: block;
    margin-left: 10vw;
}

.main{
    width: 50vw;
    display: block;
    margin-right: auto;
    margin-left:auto;
}

.title{
    color: black;
    font-size: 2em;
   font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

a{
    color: black;
}

a:hover{
    color: azure;
}

p{
    color: black;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;  
    font-weight: 400;
    margin-right: auto;
    margin-left:auto;
    margin-top: -40px;
}

img{
    border-radius: 10px;
    width: 40vw;
    margin-left: 20vw;

}