/* 
Project Name: About Me
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #fff;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    font-family: 'Inconsolata', monospace;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 100%;
    height: auto;
}

.number{
    font-size: 146px;
    color: #fff;
    margin-right: auto;
    margin-left: auto;
    animation: blinker .2s linear infinite;
}


@keyframes blinker {
  100% {
    color: red;
  }
}

footer {
font-family: 'Inconsolata', monospace;
font-size: 12px;
bottom: 0;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




