/* 
Project Name: Web Interaction
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
    color: #000;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    }


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
	width: 100%;
    height: auto;
    margin-top: none;
	margin: auto;
}

header{
background-color: none;
}

h1.title{
    display: block;
    margin-bottom: 10px;
    color: #000;
    padding-left: 3%;
    font-family: Avenir Next;
    font-size: 7vw;
}

h2.dek{
    display: block;
    margin-bottom: 10px;
    margin-top: 0;
    color: #000;
    padding-left: 4%;
    font-family: Avenir Next;
    font-size: 4vw;  
    
}
p{
    font-family: Avenir Next;
    font-size: 4vw;
    font-weight: 500;
    padding: 0% 5% 0% 5%;
}

img.lead{
    width:50%;
    margin: 45% 0% 25% 25%;

}

img.second{
    width:50%;
    margin: 150% 0% 25% 25%;

}

img.third{
    width:50%;
    margin: 250% 0% 25% 25%;

}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}


@media only screen and (max-width: 600px) {
    h1.title{
       font-size: 16vw; 
    }
    
    h2.dek{
        font-size:10vw;
    }
    
    p{
        font-size: 6vw;
    }
    
    img.lead{
    width:90%;
    margin: 45% 0% 5% 5%;

}

img.second{
    width:90%;
    margin: 200% 0% 5% 5%;

}

img.third{
    width:90%;
    margin: 300% 0% 5% 5%;

}
}
