body{
    background-color: #fff;
}

p{
    text-align: center;
    color: black;
    font-size: .5em;
    font-family: 'Roboto Mono', monospace;   
    margin-right: auto;
    margin-left:auto;
    margin-top: 50vh;
}
