/* 
Project Name: About Me
Author: Claire Cohen
*/

/******************************************
/* BASE STYLES                   
/*******************************************/

body {
     color: #000;
     background-color: #f1f1f1;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
    font-family: 'Inconsolata', monospace;
}


/******************************************
/* LAYOUT                   
/*******************************************/

/* Center the container */
#container {
    width: 100%;
    height: auto;
}

.container_poem{
    border-radius: 50%;
}
.poem{
    background-color: white;
    width: 20vw;
    height: 25vw; 
    padding: 2vw;
}

.poem_index {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    line-height: 2vw;
}

.poem_index p {
  position: absolute;
}

p.blue{
    color: blue;
}

.text{
    background-color: white;
    width: 30vw;
    height: 30vw;
    margin: auto;
    padding: 2vw; 
    animation-name: spin;
    animation-duration:8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
h1{
    font-family: 'Inconsolata', monospace;
}

header {

}

footer {
font-family: 'Inconsolata', monospace;
font-size: 12px;
bottom: 0;
}

/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




